<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart - URBEXA</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <script>
        function goto(url) {
            window.location.href = url;
        }
    </script>

</head>

<body>

    <Header>
        <div class="header">
            <div class="cont-logo">
                <img onclick="goto('../..')" class="logo" src="{% static 'images/logo.png' %}">
            </div>
            <h2 class="text-xl font-size absolute -top-1 right-2 p-4 text-black font-bold cursor-pointer "
                onclick="goto('../products')">
                Products
            </h2>
        </div>
    </Header>

    <container class="cont-cart">
        <div class="cart">
            <h1>My Products</h1>
            <table class="cart-table">
                <tr>
                    <th>img</th>
                    <th>product</th>
                    <th>price</th>
                    <th>b</th>
                </tr>
                <!---->
                {% for item in products %}
                <tr>
                    <td>
                        <img src="{{ item.product_id.image.url }}" alt="{{ item.product_id.name }}" width="50">
                    </td>
                    <td>{{ item.product_id.name }}</td>
                    <td>
                        <button onclick="goto('../cart/rem/{{ item.id }}/')" class="btn-quant">-</button>
                        {{ item.quant }}
                        <button onclick="goto('../cart/add/{{ item.id }}/')" class=" btn-quant">+</button>
                    </td>
                    <td>R$ {{ item.totalvalue }}</td>

                </tr>


                {% endfor %}

            </table>
            <h3 id="total">R$ {{total}}</h3>
            <button class="btn-buy" onclick="goto('../cart/finish')">pay</button>
        </div>
    </container>

</body>

</html>