* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Cal Sans", sans-serif;
    background: linear-gradient(145deg, #7c7c7c, #d3d3d3);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.cont-cart {
    padding-top: 10vh;
    display: flex;
    animation: fadeIn 0.6s ease-in-out;
}

.cart {
    background: #ffffff;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    width: 60%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInonly {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}

@keyframes Slidedown {
    from {

        transform: translateY(-20px);
    }

    to {

        transform: translateY(0);
    }
}

.cart h1 {
    text-align: center;
    font-size: 32px;
    color: #111827;
    margin-bottom: 20px;
    animation: fadeIn 0.6s ease-in-out;
}

.header {
    background-color: white;
}

.logo {
    max-width: 20vh;
    padding: 2vh;
}

.logo:hover {
    transition: 0.3s;
    filter: drop-shadow(-5px 5px 5px rgb(88, 88, 88));
    cursor: pointer;
}

.btn-buy {
    margin-top: auto;
    padding: 12px;
    background-color: #111827;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;

}

.btn-quant {
    background: none;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
    color: gray;
    transition: 0.3s;
    aspect-ratio: 1 / 1;
    width: 15px;
}




.btn-quant:hover {

    color: rgb(18, 160, 255);
    transition: 0.3s;
}


#total {
    text-align: right;
    margin: 0px 10% 10px 0px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
    color: #111827;

}

.cart-table th,
.cart-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

.cart-table th {
    background-color: #f3f4f6;
    font-weight: 600;
}

.cart-table tr:hover {
    background-color: #f9fafb;
}

.cart-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}


@media (max-width: 670px) {
    .btn-quant:hover {
        border: 1px solid;
        color: rgb(18, 160, 255);
        transition: 0.3s;
    }

    .btn-quant {
        width: 12px;
        padding: 0px;
        border: none;
    }

    .cart-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
        font-size: 12px;
        color: #111827;

    }

    .cart-table th,
    .cart-table td {
        padding: 6px 10px;
    }

    .cart-table th {}

    .cart-table tr:hover {}

    .cart-img {}


    .cart {
        padding: 15px;
        width: 80%;
    }

    .cart h1 {
        font-size: 24px;
    }

    .cont-logo {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .logo {
        width: 70%;
    }
}