* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;

}


body {
    font-family: "Cal Sans", sans-serif;
    background: linear-gradient(145deg, #7c7c7c, #d3d3d3);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: white;
    justify-content: space-between;
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.logo {
    margin: 20px;
    width: 125px;
}

.perfil {
    margin: 0px;
    width: 37px;
    margin: 15px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.btn-header {

    display: flex;
    gap: 20px
}

.btn-header li {
    display: inline;
    margin-top: 18px;

}

.li-title {
    font-family: "Cal Sans", sans-serif;
    font-weight: bold;
    font-size: 15pt;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    padding: 0px;
    margin: 0px;
}

#carousel-img {
    width: 100%;
    height: 80vh;
}

.carousel {}

.hero-div {
    width: 100%;
}

.container-box {
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
    justify-self: center;
    max-width: 100%;
}

.box {}

.left,
.right {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 109;
    background-color: rgb(20, 20, 20);
    color: white;
}

.left {
    flex: 110;
    background-color: rgb(155, 155, 155);
}

.alert-div {
    display: block;
    position: relative;

}

.alert {
    font-family: "Cal Sans", sans-serif;
    font-weight: bold;
    font-size: 11pt;
    position: absolute;
    top: 10px;
    left: 40%;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    animation: fadeIn 0.6s ease-in-out;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.alert.hide {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 600px) {
    .alert {
        padding: 5px;
        font-size: 8pt;
    }

    .btn-header {
        gap: 5px
    }

    .btn-header li {
        margin-top: 22px;

    }

    .li-title {
        font-size: 10pt;
    }
}

@media (max-width: 450px) {
    .alert {
        padding: 5px;
        font-size: 8pt;
        display: none;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        font-size: 32px;
        position: relative;
        top: -2px;
    }

    .li-title {
        font-family: "Cal Sans", sans-serif;
        font-weight: bold;
        font-size: 15pt;
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}