<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login - page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script>
        function goto(url) {
            window.location.href = url;
        }
    </script>
</head>


<body>
    <div class="alertdiv">
        {% for message in messages %}
        <p class="alert" href="">{{message}}</p>
        {% endfor %}
    </div>  
    <p id="arrow" onclick="goto('../..')">➜</p>
    <main>

        <div class="auth-container">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                <label>Username:</label><br>
                <input type="text" name="username"><br>
                <label>Password:</label><br>
                <input type="password" name="password"><br>
                <button type="submit">enter</button>
            </form>
            <div class="switch-link">
                <p id="litle-text">Don't have an account? <a id="register-link" href="/register/">Register</a></p>
            </div>
        </div>
    </main>
    <script>


        const delay = 1500; // 3 segundos
        const alerts = document.querySelectorAll('.alert');


        alerts.forEach(alert => {
            setTimeout(() => {
                alert.classList.add('hide');
            }, delay);
        });


    </script>
</body>

</html>