<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user - URBEXA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <script>
        function goto(url) {
            window.location.href = url;
        }


    </script>

</head>

<body>
    <Header>
        <div class="header">
            <div class="cont-logo">
                <img onclick="goto('../..')" class="logo" src="{% static 'images/logo.png' %}">
            </div>

        </div>
    </Header>

    <container class="cont-user">
        <div class="user">
            <div class="user-left">
                <img onclick="goto('../auth/user/edit/img')" class="img-perfil" src="{{img}}" alt="img">
            </div>
            <div class=" user-right">
                <h1>{{username}}</h1>

                <h4>Email:</h4>
                <p>{{email}}</p>
                <h4>Phone:</h4>
                <p>{{phone}}</p>
                <h4>City:</h4>
                <p>{{city}}</p>
                <h4>State:</h4>
                <p>{{state}}</p>
                <h4>Address:</h4>
                <p>{{address}}</p>

                <div class="btn-div">
                    <button onclick="goto('user/edit')" class="btn-edit">Edit</button>
                    <button onclick="goto('../auth/logout')" class="btn-logout">Logout</button>

                </div>
            </div>
        </div>
    </container>
    <div class="alertdiv">
        {% for message in messages %}
        <p class="alert" href="">{{message}}</p>
        {% endfor %}
    </div>
    <script>


        const delay = 1500; // 3 segundos
        const alerts = document.querySelectorAll('.alert');


        alerts.forEach(alert => {
            setTimeout(() => {
                alert.classList.add('hide');
            }, delay);
        });


    </script>
</body>

</html>